<div id="<%= dom_id demon %>">
  <p>
    <strong>First name:</strong>
    <%= demon.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= demon.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= demon.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= demon.phone %>
  </p>

  <p>
    <strong>Social media:</strong>
    <%= demon.social_media %>
  </p>

</div>
