<p style="color: green"><%= notice %></p>

<%= render @demon %>

<div>
  <%= link_to "Edit this demon", edit_demon_path(@demon) %> |
  <%= link_to "Back to demons", demons_path %>

  <%= button_to "Destroy this demon", @demon, method: :delete %>
</div>
